{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}django_simplequiz/css/discover.css"> 
{% endblock css %}

{% block content %}
<div id="page-quiz-discover">
  <div class="row">
    <div class="col-md-4 most-played">
      <h3>Most played</h3>

      {% include "django_simplequiz/quiz_table_small.html" with items=most_played %}
    </div>


    <div class="col-md-4">
      <h3>New</h3>
      
      {% include "django_simplequiz/quiz_table_small.html" with items=new %}
    </div>
    
    <div class="col-md-4">
      <h3>Categories</h3>

      <ul>
        {% for cat in categories %}
        <li>
          <a href="{% url "quiz_list_categorized" category=cat.slug %}">{{ cat.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

</div> 
{% endblock content %}
