{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}django_simplequiz/css/discover.css"> 
{% endblock css %}

{% block content %}
<div id="page-quiz-discover">
  <div class="row">
    <div class="col-md-4 most-played">
      <h3>Most played</h3>

      <ul>
        {% for quiz in most_played %}
          <li class="quiz">
            {% include "django_simplequiz/quiz_list_item.html" %}
          </li>
        {% endfor %}
      </ul>
    </div>


    <div class="col-md-4">
      <h3>New</h3>
      
      <ul>
        {% for quiz in new %}
          <li class="quiz">
             {% include "django_simplequiz/quiz_list_item.html" %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div> 
{% endblock content %}
