{% extends "base.html" %}
{% load simplequiz_tags %}
{% block page_title %}{{ object.title }}{% endblock page_title %}
{% block head_title %}{{ object.title }}{% endblock head_title %}

{% block content %}
<div class="simplequiz quiz-{{ object.mode }}" id="quiz-{{ object.id }}"> 

  <div class="hidden" style="display: none;">
    {% csrf_token %}
    <div class="data" style="display: none;">{{ store|safe }}</div>
    }
  </div>


  <div class="overlay" style="display: none;">
    <div class="inner">
      <h3>Results</h3>

      <img src="{{ STATIC_URL }}django_simplequiz/preloader.gif" class="preloader" style="display: none;" alt="">
      <div class="results" style="display: none;">
        <div class="data">
          <div class="score-row data-row">
            <span class="label">Score:</span>
            <span class="score data"></span>
          </div>
          <div class="mistakes-row data-row">
            <span class="label">Mistakes:</span>
            <span class="mistakes data"></span>
          </div>
          <div class="time-row data-row">
            <span class="label">Time:</span>
            <span class="time data"></span>
          </div>
          <div class="position-row data-row">
            <span class="label">Ranking:</span>
            <span class="position data"></span>
          </div>
          <div class="personal-position-row data-row">
            <span class="label">Personal Ranking:</span>
            <span class="personal-position data"></span>
          </div>
          
          <div class="register-info" style="display: none;">
            <p>
              To save your results, 
              <a href="{% url "account_login" %}" class="btn btn-info">Login</a> or
              <a href="{% url "account_signup" %}" class="btn btn-info">Register</a>.
            </p>
          </div>
        </div>

        <button class="btn btn-lg btn-success closer">Close</button>
      </div>
    </div>
  </div>

  
  <div class="description-row">
    <h4>Description</h4>
    <div class="description">{{ object.description }}</div>
  </div>

  <div class="top-bar">
    <div class="controls">
      <button class="btn btn-lg btn-primary start">Start</button>
      <button class="btn btn-info pause disabled">{{ label_pause }}</button>
      <button class="btn btn-warning give-up disabled">Give up</button+>
      <button class="btn btn-lg btn-primary restart disabled">{{ label_restart }}</button>
    </div>
    
    <div class="status">
      <div class="score">
        <span class="label">Score:</span>
        <span class="current data">0</span> 
        <span class="data">/ {{ object.questions.count }}</span>
      </div>
      <div class="mistakes-row">
        <span class="label">Mistakes:</span>
        <span class="data mistakes">0</span>
      </div>
      <div class="timer">
        <span class="label">Time left:</span>
        <span class="time data"></span>
      </div>
    </div>
  </div>

  {% if object.mode == "click" or object.one_by_one %}
  <div class="question-wrap">
    <span class="label">Question:</span>
    <span class="question"></span>

    {% if can_page %}
    <div class="paging">
      <button class="btn btn-sm btn-info prev disabled">Prev</button>
      <button class="btn btn-sm btn-info next disabled">Next</button>
    </div>      
    {% endif %}
  </div>
  {% endif %}
  {% if object.mode == "type" %}
  <div class="answer-wrap">
    <div class="inner">
      <span class="label">Answer:</span>
      <input type="text" class="answer" disabled="disabled" />
      {% if not object.auto_accept %}
        <div class="answer_confirm_info">(Enter to submit.)</div>
      {% endif %}
    </div>
  </div>
  {% endif %}
  
  <div class="quiz-info-wrap" style="display: none;">
    <h3>Info</h3>
    <div class="quiz-info">{{ object.info }}</div>
  </div>

  <div class="answers">
    {% if object.mode == "click" %}
      {% for question in object.get_questions %}
      <div class="question-item question-{{ question.id }}" data-id="{{ question.id }}">
        <div class="answer"></div>
        {% if question.image %}
          <img src="{{ MEDIA_URL }}{{ question.image }}" alt="{{ question.answer }}">
        {% else %}
          {{ question.answer }}
        {% endif %}
      </div>
      {% endfor %}
    {% elif not object.one_by_one %}
      <table class="table answers-table">
        <tr>
          {% if show_hints %}
            <th>Question/Hint</th> 
          {% endif %}
          <th>Answer</th>
          {% if show_info %}
            <th>Info</th> 
          {% endif %}
        </tr>

        <tr class="top" style="display: none;"></tr>
        
        {% for question in object.get_questions %}
        <tr class="question-item question-{{ question.id }}" class="{{ object.one_by_one|yesno:"hidden,visible" }}">
          {% if show_hints %}
            <td class="name">{{ question.name }}</td> 
          {% endif %}
          <td class="answer"></td>
          {% if show_info %}
            <td class="info"></td>
          {% endif %}
        </tr> 
        {% endfor %}
      </table>

    {% endif %}
  </div>

  <div class="complain">
    <p>Have you found an error in this quiz, or have any suggestions on how to improve it?</p>
    <a href="{% url "simplequiz_complain" %}?quiz-id={{ object.id }}" class="btn btn-warning">Let us know</a>
  </div>

</div>
{% endblock content %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}django_simplequiz/css/django_simplequiz.css"> 
{% endblock css %}

{% block js_bottom %}
<script type="text/javascript" src="{{ STATIC_URL }}django_simplequiz/simplequiz.js"></script> 
{% endblock js_bottom %}
