
$green: #D3FABB;
$red: #f2dede;

.simplequiz {
  position: relative;

  .label {
    color: black;
  }

  .overlay {
    width: 100%;
    height: 100%;

    position: absolute;

    z-index: -10;

    background-color: white;
    opacity: 0.9;


    .inner {
      max-width: 500px;

      margin: 0 auto;
      padding: 3em;

      background-color: #ddd;
      opacity: 1;

      border-radius: 20px;

      h3 {
        margin: 0 0 1em 0;
      }
    }
  }

  &.quiz-click {
    .answers {
      .question-item {
        display: inline-block;
        padding: 2em;
        background: #eee;
        cursor: pointer;

        border-radius: 15px;

        margin: 0 1em 1em 0;
      }
    }
  }

  .top-bar {
    margin-bottom: 2em;

    & > div {
      display: inline-block;
    }

    .status {
      margin: 0 0 1em 0;

      & > div {
        display: inline-block;
        margin: 0 1em 0 0;
      }

      .label {
        font-size: 120%;
        font-weight: normal;
      }

      .data {
        font-size: 200%;
        font-weight: bold;
      }
    }

    .controls {
      margin-right: 2em;

      .give-up {
        margin-right: 1em;
      }
    }
  }

  .quiz-info-wrap {
    margin: 1em;
    padding: 1em;
    background-color: #D3FABB;
    border-radius: 20px;
  }


  .question-wrap {
    padding: 1em;
    margin-bottom: 1em;

    background-color: rgb(240,240,240);
    border-radius: 20px;

    .label {
      font-size: 120%;
    }
    .question {
      font-size: 200%;
    }

    .paging {
      float: right;
    }
  }

  .answer-wrap {

    .inner {
      display: inline-block;
      padding: 1em;
      background-color: rgb(240,240,240);
      border-radius: 20px;

      .label {
        font-size: 1em;
      }

      input.answer {
        font-size: 150%;
        padding: 0.2em;

        &.success {
          background: $green;
        }
        &.fail {
          background: $red;
        }
      }

      .answer_confirm_info {
        margin-top: 0.5em;
        padding-left: 6em;
      }
    }
  }

  .answers {
    margin: 2em 0 0 0;

    .answers-table {
      td {
        padding: 0 1em;
      }
    }

    .question-item {
      &.answered {
        background: $green;
      }

      &.wrong {
        background: $red !important;

        td {
          background: $red !important;
        }
      }
    }
  }
}

